<main role="main">
  <h2>Painel do Condomínio</h2>
  <div class="row">
      <div class="col-md-3">
          <div class="card text-white bg-success mb-3">
              <div class="card-header">Saldo em conta</div>
              <div class="card-body">
                  <h5 class="card-title">R$ 3301.79</h5>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card text-white bg-danger mb-3">
              <div class="card-header">Inadimplência</div>
              <div class="card-body">
                  <h5 class="card-title">R$ 9351.10</h5>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card text-white bg-info mb-3">
              <div class="card-header">Info</div>
              <div class="card-body">
                  <h5 class="card-title">...</h5>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card text-white bg-success mb-3">
              <div class="card-header">Passo a passo</div>
              <div class="card-body">
                  <h5 class="card-title">100% concluído!</h5>
              </div>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header">Resumo do Mês</div>
      <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                  <div class="chart">
                      <h5>Receitas</h5>
                      <div style="height: 200px; background-color: #e3f2fd;">R$ 2515.30</div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="chart">
                      <h5>Despesas</h5>
                      <div style="height: 200px; background-color: #f8d7da;">R$ 1164.60</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header">Orçamento do Período</div>
      <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                  <div class="chart">
                      <h5>Receitas</h5>
                      <div style="height: 200px; background-color: #b3e5fc;">Orçado R$ 24960.00<br>Realizado R$ 21292.85</div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="chart">
                      <h5>Despesas</h5>
                      <div style="height: 200px; background-color: #ffcdd2;">Orçado R$ 20180.00<br>Realizado R$ 22679.87</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
