<nav class=" sidebar">
  <div class="sidebar-sticky">
      <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link active" routerLink="p_condominio">
                  <i class="fas fa-flag"></i>
                  Painel
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="c_moradia">
                  <i class="fas fa-building"></i>
                  Condomínio
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="c_movimento">
                  <i class="fas fa-chart-line"></i>
                  Financeiro
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="cobranca">
                  <i class="fas fa-file-invoice-dollar"></i>
                  Contabilidade
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link">
                  <i class="fas fa-chart-pie" routerLink="movimento"></i>
                  Relatórios
              </a>
          </li>
      </ul>
  </div>
</nav>
